@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    margin: 0;
    color: #181818;
    background-color: #f6f7f9;
    font-family:  sans-serif, Arial, Helvetica;
}

header {
    width: 100%;
    background-color: #FFF;
    box-shadow: inset 0px -2px 7px #00000015;
}

.name-title, .navigation {
    display: inline-block;
}

.navigation {
    margin: 20px 0 0 39vw;
    position: absolute; 
}

.navigation a {
    padding: 0 15px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

header h1 {
    margin: 10px 0 3px 8vw;
    font-size: 20px;
}

header h2 {
    margin: 0 0 10px 8vw;
    font-weight: 500;
    font-size: 15px;
}

h1 {
    margin-top: 10vh;
}

p {
    margin: 45px 0;
}

.btn-primary {
    background-color: #0c93f7;
    border: none;
    padding: 12px 40px;
    border-radius: 20px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    display: block;
    margin: 0 auto;
    font-family:  sans-serif;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0862A6;
    transition: all 0.8s;
} 

.hero {
    width: 30vw;
    margin: 50px auto;
    line-height: 200%;
    font-size: 18px;
}

.preview {
    width: 45vw;
    display: block;
    margin: 70px auto;
    border-radius: 10px;
}

/* STEP 1 */
#step1 body {
    background: url(images/background.png) no-repeat;
    background-size: cover;
}


.dialog-box {
    padding: 100px;
}

.dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    max-width: 650px;
    box-shadow: 0 0 20px 3px #ffffff8c;
    border-radius: 10px;
}

.dialog-content p {
    margin: 16px 4vw;
    line-height: 250%;
}

.step1-img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.progress-bar-0 {
    width: 80%;
    height: 40px;
    background-color: #FFF;
    border-radius: 20px;
    margin: 80px auto 30px;
    text-align: center;
}

.progress-bar-text {
    display: block;
    padding: 10px;
    font-style: italic;
}