@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    margin: 0;
    color: #181818;
    background-color: #f6f7f9;
    font-family:  sans-serif, Arial, Helvetica;
}

header {
    width: 100%;
    background-color: #FFF;
    box-shadow: inset 0px -2px 7px #00000015;
}

.container {
    padding: 0 16px;
}

.name-title, .navigation {
    display: inline-block;
}

.navigation {
    margin: 20px 0 0 39vw;
    position: absolute; 
}

.navigation a {
    padding: 0 15px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1030px) {.navigation a {display: none;}}

header h1 {
    margin: 10px 0 3px 8vw;
    font-size: 20px;
}

header h2 {
    margin: 0 0 10px 8vw;
    font-weight: 500;
    font-size: 15px;
}

h1 {
    margin-top: 10vh;
}

@media (max-width: 370px) {h1 {font-size: 23px}}
@media (max-width: 370px) {h2 {font-size: 18px}}

p {
    margin: 45px 0;
}

.btn-primary {
    background-color: #0c93f7;
    border: none;
    padding: 12px 40px;
    border-radius: 20px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    display: block;
    margin: 0 auto;
    font-family:  sans-serif;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0862A6;
    transition: all 0.8s;
} 

@media (max-width: 700px) {.btn-primary {display: none}}

.device-notice {
    display: none;
    text-align: center;
}

@media (max-width: 700px) {
    .device-notice {
        display: block;
        background-color: #ffdb9a;
        padding: 17px;
        border-left: 6px solid #ffba3b;
    }
}

.hero {
    width: 30vw;
    margin: 50px auto;
    line-height: 200%;
    font-size: 18px;
}

@media (max-width:1300px) {.hero {min-width: 50vw;}}
@media (max-width:600px) {.hero {min-width: 80vw; font-size: 16px;}}

.bullet-points {
    line-height: 250%;
    font-weight: bold;
    margin: 50px auto;
    max-width: 250px;
}

ul {list-style-type: none;}

.preview {
    width: 45vw;
    display: block;
    margin: 70px auto;
    border-radius: 10px;
}

@media (max-width:1400px) {.preview {min-width: 70vw;}}

footer {
    height: 200px;
    border-top: 1px solid #dadada;
    background-color: #FFF;
}

/* STEPS */
#step1 body, #step2 body, #step3 body, #step4 body, #completion body {
    background: url(images/background.png) no-repeat;
    background-size: cover;
}


.dialog-box {
    padding: 100px;
}

.dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    max-width: 650px;
    box-shadow: 0 0 20px 3px #ffffff8c;
    border-radius: 10px;
}

.dialog-content p {
    margin: 16px 4vw;
    line-height: 250%;
    text-align: center;
}

#step2 .dialog-content p {
    line-height: 230%;
    text-align: center;
}


.step1-img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.text-box {
    display: block;
    margin: 20px auto 30px;
    border: 1px solid #c5c5c5;
    font-family: sans-serif;
}

.center-box {
    text-align: center;
}

.versions {
    text-align: center;
    display: inline-block;
}

.version-a, .version-b {
    display: inline-block;
}

.versions img {
    max-width: 750px;
    padding: 40px;
}

@media (max-width: 800px) {.versions img {max-width: 550px;}}

.version-b img {
    max-height: 436.5px;
}

input[type="radio" i] {
    display: block;
    margin: 5px auto;
    width: 1.5em;
    height: 1.5em;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score div {
    padding: 15px 45px;
}

.score span {
    margin: 5px;
    font-size: 14px;
}

.easy-hard {
    text-align: center;
    margin: 0 65px 65px;
}


.hard {
    float: left;
    color: red;
}

.easy {
    float: right;
    color: green;
}

.round-ctas {
    display: flex;
    margin: 55px 0 16vh;
}

.round-ctas img {
    width: 47.43px;
    margin: 0 11px;
    cursor: pointer;
}

.linkedin-round {
    margin-left: 25px !important;
}

.progress-bar, .progress-bar--0 {
    width: 80%;
    height: 40px;
    background-color: #FFF;
    border-radius: 20px;
    margin: 80px auto 30px;
    text-align: center;
}

.progress-bar-text {
    display: block;
    padding: 10px;
    font-style: italic;
}

.progress-bar--25 {
    background: -moz-linear-gradient(90deg, rgba(13,172,0,1) 24%, rgba(255,255,255,1) 25%);
    background: -webkit-linear-gradient(90deg, rgba(13,172,0,1) 24%, rgba(255,255,255,1) 25%);
    background: linear-gradient(90deg, rgba(13,172,0,1) 24%, rgba(255,255,255,1) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dac00",endColorstr="#ffffff",GradientType=1);
}

.progress-bar--50 {
    background: -moz-linear-gradient(90deg, rgba(13,172,0,1) 48%, rgba(255,255,255,1) 49%);
    background: -webkit-linear-gradient(90deg, rgba(13,172,0,1) 48%, rgba(255,255,255,1) 49%);
    background: linear-gradient(90deg, rgba(13,172,0,1) 48%, rgba(255,255,255,1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dac00",endColorstr="#ffffff",GradientType=1);
}

.progress-bar--75 {
    background: -moz-linear-gradient(90deg, rgba(13,172,0,1) 74%, rgba(255,255,255,1) 75%);
    background: -webkit-linear-gradient(90deg, rgba(13,172,0,1) 74%, rgba(255,255,255,1) 75%);
    background: linear-gradient(90deg, rgba(13,172,0,1) 74%, rgba(255,255,255,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dac00",endColorstr="#ffffff",GradientType=1);
}

.progress-bar--100 {
    background-color: #0dac00;
}

#completion .progress-bar, #completion  .progress-bar--0 {
    margin: 50vh auto 30px;
}